body{
    background-color: lightsteelblue;
}

.header{
    text-align: center;
}

.pages{
    list-style-type: none;
    text-align: center;
}

.pages li{
    display: inline-block;
    font-size: 21px;
    padding: 0px 20px;
}

.content{
    width: 50%;
    margin: 0px auto;
}

